/* header */
header {
  display: grid;
  grid-template-columns: 300px 280px;
  grid-template-areas: "Logo Nav";
  margin: 30px;
  background-color: gainsboro;
}


h2 {
  grid-area: Logo;
}

/* navbar */
.navbar {
  grid-area: Nav;
  margin-top: 15px;
  overflow: hidden;
}

.navbar a, .dropdown .dropbtn, .dropdown-content a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  color: black;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
  background-color: red;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* main */
main{
  align-self: center;
}

.main-image{
  object-fit: cover;
}



.main-grid{
  display: grid;
  grid-template-columns: repeat(2, 500px);
}

/* get in touch */

.get-in-touch-grid{
  display: grid;
  grid-template-columns: repeat(3, 90px);
  gap: 250px;
}

.contact-card{
  border: 2px solid;
  width: 200px;
  padding: 50px;
}

.contact-grid{
  display: grid;
  grid-template-rows: repeat(3, 40px);
  gap: 40px;
}

.contact-item{
  display: grid;
  grid-template-columns: 40px 100px ;
}

/* footer */
.home-page-footer{
  text-align: center;
  border: 2px solid;
}