nav,
footer {
  background-color: #003366;
}

nav img {
  border-radius: 14px;
}

.form-section {
  margin-top: 20px;
}

.map-section {
  margin-top: 40px;
}

.text-light a {
  color: #ffffff;
}

form{
  border: #003366 2px solid;
  border-radius: 13px;
  padding: 20px;
}