:root {
  --background-color: #ebeadf;
  --header-color: #003366;
  --text-color: #17171a;
  --header-text-color: #ebeadf;
  --accent-color: #a89913;
  --button-color: white;
}

body {
    display: grid;
    grid-template-rows: repeat(6, 150px);
  }
  

div {
  border: #17171a solid 2px;
}

.Background {
  background-color: var(--background-color);
}

.Header {
  background-color: var(--header-color);
  color: white;
}

.Text {
  background-color: var(--text-color);
  color: white;
}

.Header-Text {
  background-color: var(--header-text-color);
}

.Accent {
  background-color: var(--accent-color);
}

.Button {
  background-color: var(--button-color);
}

